.login
  = render "more/header"
  .single-main
    .main-center
      .main-center__title
        新規登録画面の入力
      .main-center__box
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          .field
            = f.label :ニックネーム
            %span.need
              必須
            %br/
            = f.text_field :name, placeholder: "（例）たろちゃん", autofocus: true, autocomplete: "name"
          .field
            = f.label :メールアドレス
            %span.need
              必須
            %br/
            = f.email_field :email, placeholder: "ＰＣ・携帯どちらでも可", autofocus: true, autocomplete: "email"
          .field
            = f.label :パスワード
            %span.need
              必須
            - if @minimum_password_length
              %em
                (#{@minimum_password_length}文字以上)
            %br/
            = f.password_field :password, placeholder: "７文字以上の半角英数字", autocomplete: "new-password"
            .pass-attention
              ※ 英字と数字の両方を含めて設定してください
          .field
            = f.label :パスワード（確認）
            %span.need
              必須
            %br/
            = f.password_field :password_confirmation, placeholder: "７文字以上の半角英数字", autocomplete: "new-password"
          .field
            = f.label :お名前
            %span.need
              必須
            %br/
            = f.text_field :first_name, placeholder: "（例）田中", autofocus: true, autocomplete: "first_name"
            = f.text_field :last_name, placeholder: "（例）太郎", autofocus: true, autocomplete: "last_name"
          .field
            = f.label :お名前カナ
            %span.need
              必須
            %br/
            = f.text_field :first_name_yomi, placeholder: "（例）タナカ", autofocus: true, autocomplete: "first_name_yomi"
            = f.text_field :last_name_yomi, placeholder: "（例）タロウ", autofocus: true, autocomplete: "last_name_yomi"
          .field
            .serect-box
              = f.label :生年月日
              %span.need
                必須
              %br/
              = f.date_select :birthday, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1)
              .pass-attention
                ※ 本人情報は正しく入力してください。
                %br
                会員登録後、修正するにはお時間を頂く場合があります。
          .field
            = f.label :郵便番号
            %span.need
              必須
            %br/
            = f.text_field :zipcode, placeholder: "ハイフンなしで入力", autofocus: true, autocomplete: "zipcode"
          .field
            = f.label :都道府県
            %span.need
              必須
            %br/
            = f.text_field :prefecture, autofocus: true, autocomplete: "prefecture"
          .field
            = f.label :市町村
            %span.need
              必須
            %br/
            = f.text_field :city, autofocus: true, autocomplete: "city"
          .field
            = f.label :番地
            %span.need
              必須
            %br/
            = f.text_field :address, autofocus: true, autocomplete: "address"
          .field
            = f.label :マンション名
            %br/
            = f.text_field :building, autofocus: true, autocomplete: "building"
          .field
            = f.label :電話番号
            %br/
            = f.text_field :phone_num, placeholder: "ハイフンなしで入力", autofocus: true, autocomplete: "phone_num"
          .actions
            .submit
              = f.submit "登録する"
            = render "devise/shared/links"
= render "more/footer"
