%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :name
    %br/
    = f.text_field :name, autofocus: true, autocomplete: "name"
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name, autofocus: true, autocomplete: "first_name"
    .field
    = f.label :first_name_yomi
    %br/
    = f.text_field :first_name_yomi, autofocus: true, autocomplete: "first_name_yomi"
  .field
  = f.label :last_name
  %br/
  = f.text_field :last_name, autofocus: true, autocomplete: "last_name"
  .field
    = f.label :last_name_yomi
    %br/
    = f.text_field :last_name_yomi, autofocus: true, autocomplete: "last_name_yomi"
  .field
    = f.label :birthday
    %br/
    = f.text_field :birthday, autofocus: true, autocomplete: "birthday"
  .field
    = f.label :phone_num
    %br/
    = f.text_field :phone_num, autofocus: true, autocomplete: "phone_num"
  .field
    = f.label :prefecture
    %br/
    = f.text_field :prefecture, autofocus: true, autocomplete: "prefecture"
  .field
    = f.label :city
    %br/
    = f.text_field :city, autofocus: true, autocomplete: "city"
  .field
    = f.label :address
    %br/
    = f.text_field :address, autofocus: true, autocomplete: "address"
  .field
    = f.label :building
    %br/
    = f.text_field :building, autofocus: true, autocomplete: "building"
  .field
    = f.label :zipcode
    %br/
    = f.text_field :zipcode, autofocus: true, autocomplete: "zipcode"
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
