= render "more/header"
.mp-name
 = current_user.name + "のマイページ"
 .wrapper
  .mp-sidebar
   .mp-sidecontents
    %ul
     %li
      = link_to "出品する", new_item_path, class: 'a'
     %li
      = link_to "クレジットカード", card_index_path, class: 'a'
     %li
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'a'
     

  .mp-main
   .mp-main__title
    出品した商品
   .mp-item-box
    - @items.each do |item|
     = link_to "#" do
      .mp-item
       .mp-item__img
        画像
       .mp-item__name
        = item.name
   .mp-page
    = paginate(@items)
 
= render "more/footer"
= render "more/put"