.pass
  = render "more/header"
  .pass__main
    .pass__main__center
      .pass__main__center__title
        パスワードをお忘れの方
      .pass__main__center__box
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = render "devise/shared/error_messages", resource: resource
          .field.email
            = f.email_field :email,placeholder: "ご登録されたメールアドレス", autofocus: true, autocomplete: "email"
          .message
            ※ご登録されたメールアドレスにパスワード再設定のご案内が送信されます。
          .actions
            .submit
              = f.submit "送信する"
            = render "devise/shared/links"
= render "more/footer"
