.signin
  = render "more/header"
  .signin__main
    .signin__main__center
      .signin__main__center__title
        ログイン
      .signin__main__center__box
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field.email
            = f.email_field :email,placeholder: "メールアドレス", autofocus: true, autocomplete: "email"
          .field.password
            = f.password_field :password,placeholder: "パスワード", autocomplete: "current-password"
          - if devise_mapping.rememberable?
            .field__check-box
              = f.check_box :remember_me
              = f.label :次回から入力を省略する
          .actions
            .submit
              = f.submit "ログイン"
            = render "devise/shared/links"
= render "more/footer"
