.o-contents
  = render "more/header"
  .b-main
    .b-items
      %h2.b-items__head
        購入内容の確認
      .b-items__buy-item
        .b-items__buy-item__box
          .b-items__buy-item__box--img
            画像
          .b-items__buy-item__box--text
            .b-item-name
              = @item.name
            .b-item-price
              %span
                ¥
                = @item.price
              %span.b-item-price__fee
                (税込) 送料込み
      .b-buy-item
        .b-buy-item__inner
          .b-price-table
            .b-price-table__cell1
              支払い金額
            .b-price-table__cell2
              ¥
              = @item.price
          .b-buy-point
            .b-buy-point__box
            .b-buy-point__text
              ポイントを使用(所持ポイント:P0)
          .b-buy-content
            %h3
              支払い方法
            .b-buy-info
              .b-buy-info__text
                = link_to card_index_path do
                  - if @default_card_information.blank?
                    %br /
                  - else
                    -#以下カード情報を表示
                    = "**** **** **** " + @default_card_information.last4
                    - exp_month = @default_card_information.exp_month.to_s
                    - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                    = exp_month + " / " + exp_year
          .b-user-info
            .b-user-info__text
              .b-user-info__text--left
                配送先
              %span.b-user-info__text--right
                = link_to "#" do
                  変更する
            .b-user-info__area
              %p
                〒000-0000
                %br
                xx県xx市xxxx
                %br
                名前
          = form_tag(done_item_path, method: :get) do
            %button 購入する
  = render "more/footer"