.is-whapper
  = render "more/header"
  = form_with model: @item, local: true do |form|
    .is-contents
      .sell-image-box
        .title
          .title__name
            出品画像
          .title__need
            必須
        .text
          最大10枚までアップロードできます
          #image
            #previews
              - if @item.persisted?
                - @item.images.each_with_index do |image, i|
                  = image_tag image.src.url, data: { index: i }, width: "100", height: '100'
            = form.fields_for :images do |image|
              .js-file_group{"data-index" => "#{image.index}"}
                = image.file_field :src, class: 'js-file'
      .item-info-box
        .item-name
          .item-name__title
            商品名
          .item-name__need
            必須
        .item-nbox
          = form.text_field :name, class: 'item-nbox__form', :placeholder => '40文字以内'
        .item-details
          .item-details__name
            商品の説明
          .item-details__need
            必須
        .item-dbox
          = form.text_area :info, class: 'item-dbox__form', :placeholder => '商品の説明(必須1,000文字以内）（色、素材、重さ、定価、注意点）例）2010年頃に１万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。'
        .text-count
          0/1000
      .item-type-box
        .type-text
          商品の詳細
        .category
          .category__title
            カテゴリー
          .category__need
            必須
        .product_category-select
          = form.collection_select :category, @category, :id, :name, {prompt: "---"}, {class: "category_select-box", id: "category_select"}
        .product_select-children
        .product_select-grandchildren
        .brand
          .brand__title
            ブランド
          .brand__need
            任意
        .item-bbox
          = form.text_field :name, class: 'item-bbox__form', :placeholder => '例）シャネル'
        .status
          .status__title
            商品の状態
          .status__need
            必須
        .item-sbox
          = form.collection_select :condition_id, Condition.all, :id, :name
      .item-deliver-box
        .deliver-text
          配送について
        .deliver-fee
          .deliver-fee__title
            配送料の負担
          .deliver-fee__need
            必須
        .item-dvbox
          = form.collection_select :deliverypays_id , Deliverypays.all, :id, :name
        .deliver-area
          .deliver-area__title
            配送料場所
          .deliver-area__need
            必須
        .item-abox
          = form.collection_select :prefecture_id, Prefecture.all, :id, :name
        .deliver-date
          .deliver-date__title
            配送までの日数
          .deliver-date__need
            必須
        .item-datebox
          = form.collection_select :deliverydate_id , Deliverydate.all, :id, :name
      .item-sell-box
        .price-text
          価格（¥300〜9,999,999）
        .sell-prices
          .sell-price
            .sell-price__title
              販売価格
            .sell-price__need
              必須
          .sell-box
            .sell-box__text
              ¥
            = form.number_field :price, class: 'sell-box__form', :placeholder => '０', min: 300, max: 9999999
        .sell-margin
          .sell-margin__text
            販売手数料 (10%)
          .sell-margin__stick
            ー
        %hr.is-border
        .sell-benefit
          .sell-margin__text
            販売履歴
          .sell-margin__stick
            ー
      = form.submit "出品する" , class: 'sell-btn'
      .return-btn
        = link_to root_path, class: "return-btn__return" do
          .return-btn__text
            もどる
      .bottom-text
        禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。また、出品をもちまして加盟店規約に同意したことになります。
    = render "more/footer"